node_modules/
.env
.idea/
.vscode/
.DS_Store   
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*    
.vercel
node_modules/



/.cache
.next/          
out/
/build/ 
logs/   
*.log
*.tsbuildinfo   


# Mac system files      

*.swp
*~              

# Windows system files
Thumbs.db   
